<launch>
  <arg name="deploy_cfg_path" default="$(find mmros_wrapper)/include/config/instance-seg_tensorrt-fp16_dyn.yaml"/>
  <arg name="model_cfg_path" default="$(find mmros_wrapper)/include/config/mask-rcnn_r101_fpn_1x_taco.py"/>
  <arg name="backend_model_name" default="$(find mmros_wrapper)/include/models/end2end.engine"/>

  <node name="mm_ros_wrapper_node" pkg="mmros_wrapper" type="MMRosWrapper.py" output="screen">
    <param name="deploy_cfg_path" value="$(arg deploy_cfg_path)" />
    <param name="model_cfg_path" value="$(arg model_cfg_path)" />
    <param name="backend_model_name" value="$(arg backend_model_name)" />
  </node>
</launch>
